/* You can add global styles to this file, and also import other style files */
#gutter {
    margin: 0.5rem;
  }

@import url('primeng/resources/themes/lara-light-blue/theme.css');
@import url('primeng/resources/primeng.min.css');
@import url('primeflex/primeflex.css');
@import url('primeicons/primeicons.css');
@import url('prismjs/themes/prism-coy.css');
